@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Tambahan custom styles jika diperlukan */ @keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes infinite-scroll-desktop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.333333%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

.animate-infinite-scroll-desktop {
  animation: infinite-scroll-desktop 25s linear infinite;
}

/* Pause animation on hover */
.animate-infinite-scroll:hover,
.animate-infinite-scroll-desktop:hover {
  animation-play-state: paused;
}